[phases.setup]
nixPkgs = ["python311", "chromium", "nss", "freetype", "harfbuzz", "ca-certificates", "fontconfig","libjpeg-dev",
  "zlib1g-dev",
  "libpng-dev",
  "libfreetype6-dev"]

[phases.install]
cmds = [
    "pip install --upgrade pip setuptools wheel",
    "pip install -r requirements.txt"
]

[start]
cmd = "python app.py"