[phases.setup]
nixPkgs = [
    "python312",
    "chromium",
    "nss",
    "freetype",
    "harfbuzz",
    "ca-certificates",
    "fontconfig",
    "libjpeg",
    "libjpeg_turbo",
    "zlib",
    "libpng",
    "libtiff",
    "libwebp",
    "openjpeg"
]

[phases.install]
cmds = [
    "pip install --upgrade pip",
    "pip install -r requirements.txt",
    "playwright install chromium",
    "playwright install-deps chromium"
]

[start]
cmd = "python app.py"